---
import type { CollectionEntry } from "astro:content";

export interface Props {
    post: CollectionEntry<"blog">;
}

const { title, postSlug, publicDate, description } = Astro.props.post.data;

function dateToString(date: Date): string {
    return `${date.getFullYear()}-${date.getMonth() + 1}-${date.getDate()}`;
}
---

<li class="mb-10">
    <a href={"/posts/" + postSlug}>
        <h3 class="text-2xl">{title}</h3>
        <div class="text-gray-400 mx-6 my-4">
            <div class="flex">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    fill="currentColor"
                    class="bi bi-calendar inline-block"
                    viewBox="0 0 16 16"
                >
                    <path
                        d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"
                    ></path>
                </svg>
                <span class="date-string">{dateToString(publicDate)}</span>
            </div>
            <p>{description}</p>
        </div>
    </a>
</li>

<style>
    .date-string {
        @apply items-center justify-center mx-4;
    }
</style>
